<div class="container">
  <h2 style="text-align: center;">Form to Update an Address</h2>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Please Enter the Country Name</mat-label>
      <mat-select formControlName="country" (selectionChange)="onChangeCountry($event.value)">
        <mat-option *ngFor="let country of firstLevelArr" [value]="country">{{ country.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.get('country')?.value">
      <mat-label>Please Enter the State Name</mat-label>
      <mat-select formControlName="state" (selectionChange)="onChangeState($event.value)">
        <mat-option *ngFor="let state of States" [value]="state">{{ state.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.get('state')?.value">
      <mat-label>Please Enter the District Name</mat-label>
      <mat-select formControlName="district" (selectionChange)="onChangeDistrict($event.value)">
        <mat-option *ngFor="let district of districts" [value]="district">{{ district.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.get('district')?.value">
      <mat-label>Please Enter the Place Name</mat-label>
      <mat-select formControlName="place">
        <mat-option *ngFor="let place of places" [value]="place">{{ place.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
